html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {
    --MellowAprical:(#FFBF69);
}

.header {
    background-color:#FFBF69;
    height: 39rem;
}

.navbar{
    display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 8rem;
        height: 8rem;
        position: relative;
        top:-32rem;
    }

.logo-class {
        text-decoration: none;
        color: white;
        font-size: 10rem;
        font-weight: 700;
        
    }

    .menu-navegacion {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;
    }

.navbar__left{
    color: white;
    position: relative;
    top: 12rem;
    right: -5rem;
}
.navbar-right {
    position: relative;
    top: -3rem;
    right: 3rem;
}
img.paleta-img {
    max-height: 100%;
    height: 34rem;
    display: flex;
    position: relative;
    top: 2rem;
    right: -20rem;
    width: 64rem;
}

.nosotros-clase{
    display: flex;
        justify-content: center;
        height: 17rem;
        align-items: center;
        flex-direction: column;
    }

    .nosotros-texto {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .escoge-tu-popit {
        background-color: #cbf3f0;
        height: 32rem;
        
    }
    .Seleccion-de-popit {
        position: relative;
        top: 4rem;
    }

    .titulo-escoge {
        display: flex;
        justify-content: center;
    }
    
    .imagenes-popit {
        display: flex;
        justify-content: space-around;
    }
    /* img seccion escogencia */

    .cuadrado {
        height: 15rem;
    }
    .amongus {
        height: 15rem;
    }
    .circulo {
        height: 15rem;
    }

    .nombres-popit {
        display: flex;
        justify-content: space-around;
    }

    .botones-pedir {
        display: flex;
        justify-content: space-around;
    }
    
    /* seccion a cerca de nosotros*/
    section.acerca-de {
        height: 48rem;
    }
    .acerca-de-container-texto {
        position: relative;
        bottom: -13rem;
        text-align: left;
        max-width: 752px;
    }
    .foto-mano {
        height: 24rem;
        position: relative;
        right: -57rem;
        bottom: 31rem;
    }
    .footer {
        background-color: rgb(43, 39, 39);
        color: white;
        height: 5rem;
    }
    
    .lista-footer {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }